body {
    background-color: rgb(9, 8, 8);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    color: white;   
}

.input-link input {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 15px;
}

.input-link button {
    width: 200px;
    background-color: rgb(203, 38, 87);
    border: 1px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.input-link {
    display: flex;
    gap: 20px;
}

.video-founded {
    margin-top: 50px;
    display: flex;

}

.video-founded img{
    height: 150px;
    width: 200px;
}

.video-founded h3 {
    color: white;
}

.founded-actions {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.founded-actions button {
    cursor: pointer;
    background-color: rgb(203, 38, 87);
    color: white;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;
}